.tool-tray {
    height: 14vh;
    width: 100vw;
    background-color: #212529;
    display: flex;
    flex-direction: row;
    align-content: left;
}

.tool {
    padding: 10px;
    background: #343a40;
    margin: 18px;
    border-radius: 5px;
    color: white;
}

.tool:hover {
    cursor: pointer;
    box-shadow: 3px 3px 1px 2px #2b2c2d;
    bottom: 2px;
    position: relative;
}