.box-top {
    color: white;
    background-color: black;
}

.box-bottom {
    color: white;
    background-color: black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 32vh;
}